.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  min-height: 80rem;
  width: 80rem;
  border: 0.2rem solid white;
  border-radius: 2rem;
  padding: 2rem 0;

  &_create-account {
    gap: 2rem;
  }
}
