.card {
  position: relative;
  transition: 0.2s;
  padding: 1rem;
  margin-right: 1rem;
  display: grid;
  min-width: 30rem;
  min-height: 12rem;

  grid-template: {
    columns: 12rem 40rem;
    rows: 3rem 5rem;
    areas: 'picture title' 'picture message';
  }

  &:hover { background: rgba(0, 0, 0, 20%); }

  border-top: 2px solid rgba(250, 250, 250, 10%);

  &__image {
    grid-area: picture;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 0.2rem solid $base-txt-clr;
    overflow: hidden;

    img {
      position: relative;
      height: 10rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__title {
    grid-area: title;
    color: $green-clr;
  }

  &__message {
    grid-area: message;
    font-size: 1.6rem;
  }

  &__user {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: white;
    opacity: 0.9;
  }

  &__time {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.2rem;
    color: silver;
  }

  &__delete {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(0,0,0,0);
    border: 0.2rem solid lightcoral;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  &__notification {
    position: absolute;
    right: 4rem;
    bottom: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid $green-clr;
    border-radius: 50%;
    color: white;
    display: flex;

    p {
      margin: auto;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
