.modal {
  background-color: $bg-main;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 0.2rem solid silver;
  border-radius: 2.5rem;
  width: 50rem;
  height: 50rem;

  &__load {
    display: flex;
    justify-content: center;
    flex-direction: column;

    label {
      width: 100%;
      text-align: center;
      text-decoration: underline;
    }

    input { visibility: hidden; }
  }

  &_hidden {
    opacity: 0;
    visibility: hidden;
  }
}
