.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: .2rem solid silver;
  border-radius: 2.5rem;
  width: 50rem;
  height: 50rem;

  &__load {
    display: flex;
    justify-content: center;
    flex-direction: column;

    & label {
      width: 100%;
      text-align: center;
      text-decoration: underline;
    }
  
    & input {
      visibility: hidden;
      height: 0px;
    }
  }
}