$bdr-r: 50%;
$avatar-width: 14rem;
$avatar-height: 14rem;
$bdr-thin: .2rem;

.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: $avatar-width;
  height: $avatar-height;

  & img {
    position: absolute;
    border-radius: $bdr-r;
    width: inherit;   
    height: inherit;
    border: $bdr-thin solid $base-txt-clr;
  }

  &__cover {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 1);
    width: $avatar-width - $bdr-thin;   
    height: $avatar-width - $bdr-thin; 
    border-radius: $bdr-r;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    & p {
      font-size: 1.6rem;
    }

    &:hover {
      transition: .2s;
      opacity: 0.8;
    }
  }

  
}