$bdr-r: 50%;
$avatar-width: 14rem;
$avatar-height: 14rem;
$bdr-thin: 0.2rem;

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $avatar-width;
  height: $avatar-height;

  label {
    width: inherit;
    height: inherit;
    top: 0;

    img {
      width: inherit;
      height: inherit;
      border-radius: $bdr-r;
      border: $bdr-thin solid $base-txt-clr;
    }
  }

  &__cover {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 100%);
    width: $avatar-width - $bdr-thin;
    height: $avatar-width - $bdr-thin;
    border-radius: $bdr-r;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    p { font-size: 1.6rem; }

    &:hover {
      transition: 0.2s;
      opacity: 0.8;
    }
  }
}
