$bg-main: #14212d;
$width-btn-inpt-base: 40rem;
$height-btn-inpt-base: 5rem;
$base-txt-clr: silver;
$green-clr: rgba(58, 182, 122, 100%);
$black-clr: rgba(0%, 0%, 0%, 0%);
$pink-bright-clr: lightcoral;
$weak-black: rgba(0, 0, 0, 20%);
$weak-white: rgba(250, 250, 250, 10%);
$msg-bgr: rgba($color: #16384a, $alpha: 100%);
$own-msg-bgr: rgba($color: #255a77, $alpha: 100%);
$nick-clr: wheat;
$avatar-clr: silver;
$msg-brdr: white;
$chat-bgr: rgba($color: #000, $alpha: 30%);
$weaker-white: silver;
