.message {
  background: $black-clr;

  &-chat {
    position: relative;
    width: 50%;

    &_own { align-self: flex-end; }

    &__title {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 0.5rem;

      p { color: $nick-clr; }

      img {
        width: 32;
        height: 32;
        border-radius: 50%;
        border: 0.2rem solid $avatar-clr;
      }
    }

    &__time {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      font-size: 1.2rem;
    }

    &__content {
      background: $msg-bgr;
      border: 1px solid $msg-brdr;
      border-radius: 1rem;
      padding: 1rem;

      &_own {
        background: $own-msg-bgr;
        align-self: center;
      }
    }

    &__text { font-size: 2rem; }
  }
}
